a{
    margin-top: 50px;
    color: white;
    text-decoration: none; 
    font-family: Segoe UI;
  font-size: 16px;
  display: inline-block;
}

a:hover{
    color: #dae4f2;
  font-size: 26px;
    cursor: pointer;
    
}

#bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
   
    
}

.modal-contact{
    border-radius: 8px;
    width: 500px;
    height: 374px;
    background-color: white;
    opacity: 1; 
    text-align: center;
    padding: 20px; 
    position: relative;
}

.close{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    
}

.buttonpopup:hover{
 
  background-color: #5391f5;    
}

.buttonpopupclose:hover{
 
  background-color: #eb8686;    
}

.buttonpopup {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    border-radius: 8px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonpopupclose{
  background-color: #f55353; 
  border: none;
    width: 350px;
  color: white;
  padding: 19px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    border-radius: 8px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}